<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vma.push.business.dao.CityInfoMapper" >
  <resultMap id="BaseResultMap" type="com.vma.push.business.entity.CityInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="jian_pin" property="jianPin" jdbcType="VARCHAR" />
    <result column="quan_pin" property="quanPin" jdbcType="VARCHAR" />
    <result column="is_hot" property="isHot" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, city_code, city_name, province_id, create_time, jian_pin, quan_pin, is_hot, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vma.push.business.entity.CityInfo" >
    insert into city_info (id, city_code, city_name, 
      province_id, create_time, jian_pin, 
      quan_pin, is_hot, status
      )
    values (#{id,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{jianPin,jdbcType=VARCHAR}, 
      #{quanPin,jdbcType=VARCHAR}, #{isHot,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vma.push.business.entity.CityInfo" >
    insert into city_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="jianPin != null" >
        jian_pin,
      </if>
      <if test="quanPin != null" >
        quan_pin,
      </if>
      <if test="isHot != null" >
        is_hot,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jianPin != null" >
        #{jianPin,jdbcType=VARCHAR},
      </if>
      <if test="quanPin != null" >
        #{quanPin,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null" >
        #{isHot,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vma.push.business.entity.CityInfo" >
    update city_info
    <set >
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jianPin != null" >
        jian_pin = #{jianPin,jdbcType=VARCHAR},
      </if>
      <if test="quanPin != null" >
        quan_pin = #{quanPin,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null" >
        is_hot = #{isHot,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vma.push.business.entity.CityInfo" >
    update city_info
    set city_code = #{cityCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      jian_pin = #{jianPin,jdbcType=VARCHAR},
      quan_pin = #{quanPin,jdbcType=VARCHAR},
      is_hot = #{isHot,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>