<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
		PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >

<generatorConfiguration>
	<context id="mysql2tables" targetRuntime="MyBatis3">
		<!-- true:不自动生成注释 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true"/><!-- 是否取消注释 -->
			<property name="suppressDate" value="true"/> <!-- 是否生成注释代时间戳-->
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
						connectionURL="jdbc:mysql://118.25.194.90:3306/deecard_dev" userId="liql"
						password="deecard_dev"/>

		<!-- 指定生成的类型为java类型，避免数据库中number等类型字段 -->
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false"/>
		</javaTypeResolver>

		<!-- 生成model模型，对应的包，存放位置可以指定具体的路径,如/ProjectName/src，也可以使用MAVEN来自动生成 -->
		<javaModelGenerator targetPackage="com.vma.push.business.entity" targetProject="src/main/java">
			<property name="enableSubPackages" value="false"/>
		</javaModelGenerator>

		<!-- 对应的xml mapper文件 -->
		<sqlMapGenerator targetPackage="com.vma.push.business.dao.original" targetProject="src/main/resources/">
			<property name="enableSubPackages" value="false"/>
		</sqlMapGenerator>

		<table tableName="enterprise_file_dir" enableSelectByExample="false"
			   enableDeleteByExample="false" enableCountByExample="false"
			   enableUpdateByExample="false" domainObjectName="enterpriseFileDir">
			<property name="useActualColumnNames" value="false"></property>
		</table>
	</context>
</generatorConfiguration>