<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vma.push.bi.dao.AdvMapper" >
    <update id="changeStatus" parameterType="com.vma.push.bi.dto.req.ReqAllId">
        UPDATE shop_adv SET `status` = 0 WHERE  to_days(now())-to_days(finish_time) <![CDATA[<=]]> 0

    </update>
</mapper>