<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vma.push.bi.dao.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.vma.push.bi.entity.Staff" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_staff_id" property="createStaffId" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="station" property="station" jdbcType="VARCHAR" />
    <result column="head_icon" property="headIcon" jdbcType="VARCHAR" />
    <result column="open_ai" property="openAi" jdbcType="INTEGER" />
    <result column="open_boss" property="openBoss" jdbcType="INTEGER" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="weixin" property="weixin" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, phone, create_time, status, modify_time, create_staff_id, pass_word, department_id, 
    station, head_icon, open_ai, open_boss, enterprise_id, mobile, mail, weixin, address, 
    role
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from staff
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from staff
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vma.push.bi.entity.Staff" >
    insert into staff (id, name, phone, 
      create_time, status, modify_time, 
      create_staff_id, pass_word, department_id, 
      station, head_icon, open_ai, 
      open_boss, enterprise_id, mobile, 
      mail, weixin, address, 
      role)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createStaffId,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{station,jdbcType=VARCHAR}, #{headIcon,jdbcType=VARCHAR}, #{openAi,jdbcType=INTEGER}, 
      #{openBoss,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vma.push.bi.entity.Staff" >
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createStaffId != null" >
        create_staff_id,
      </if>
      <if test="passWord != null" >
        pass_word,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="station != null" >
        station,
      </if>
      <if test="headIcon != null" >
        head_icon,
      </if>
      <if test="openAi != null" >
        open_ai,
      </if>
      <if test="openBoss != null" >
        open_boss,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="weixin != null" >
        weixin,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="role != null" >
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaffId != null" >
        #{createStaffId,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        #{station,jdbcType=VARCHAR},
      </if>
      <if test="headIcon != null" >
        #{headIcon,jdbcType=VARCHAR},
      </if>
      <if test="openAi != null" >
        #{openAi,jdbcType=INTEGER},
      </if>
      <if test="openBoss != null" >
        #{openBoss,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vma.push.bi.entity.Staff" >
    update staff
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaffId != null" >
        create_staff_id = #{createStaffId,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        station = #{station,jdbcType=VARCHAR},
      </if>
      <if test="headIcon != null" >
        head_icon = #{headIcon,jdbcType=VARCHAR},
      </if>
      <if test="openAi != null" >
        open_ai = #{openAi,jdbcType=INTEGER},
      </if>
      <if test="openBoss != null" >
        open_boss = #{openBoss,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vma.push.bi.entity.Staff" >
    update staff
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_staff_id = #{createStaffId,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      station = #{station,jdbcType=VARCHAR},
      head_icon = #{headIcon,jdbcType=VARCHAR},
      open_ai = #{openAi,jdbcType=INTEGER},
      open_boss = #{openBoss,jdbcType=INTEGER},
      enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>